@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



body {
  font-family: sans-serif;
  background: rgb(0, 0, 0);
  font-family: 'Pixelify Sans', sans-serif;
  color: #f8f8f8;
}

#titulo {

text-align: center;

}


#addItemBtn{
gap: 20px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
     

  background-color: #1a1a1a;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
 
}

button:hover {
   
  transform: scale(1.1);
}

#removeLastBtn{
gap: 20px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500; 
       

  background-color: #581616ab;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;

}

#sisa{
  
  display: flex;
 
  justify-content: center;
  
}

li {

        border: 1px solid transparent;
}

#userInput{

 background-color: #1a1a1a;
  gap: 20px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Pixelify Sans', sans-serif;
}
